{% extends 'layout/base.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{object.name}}&nbsp; ({{object.symbol}})</h1>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Price</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{object.price|floatformat:2}}&nbsp;US$
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Volume</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{object.volume|floatformat:2}}&nbsp;US$
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Total Quantity
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{object.total_quantity}}&nbsp;US$
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-9 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Percentage</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>1 hour</th>
                                    <th>24 hours</th>
                                    <th>7 days</th>
                                    <th>38 days</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{object.percentage_one_hour}}</td>
                                    <td>{{object.percentage_twentyfour_hour}}</td>
                                    <td>{{object.percentage_seven_days }}</td>
                                    <td>{{object.percentage_thirtyeight_days }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-9 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">To Buy</h6>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'coins-purchase' %}">
                     {% csrf_token %}
                      <input type="hidden" class="form-control mb-2"  value="{{object.id}}" name="coin_id">
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Quantity</label>
                          <input type="number" class="form-control" id="inputEmail4" placeholder="0.00" step="1" name="quantity">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Amount</label>
                          <input type="text" class="form-control" id="inputPassword4" placeholder="1 US$" name="amount">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary btn-block">Buy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
